body{
	background-color:#e2e2e2;
}
header{
	width:100%;
	position:fixed;
	height:50px;
	background-color:#ccc;
	overflow:hidden;
	z-index:2;
	box-sizing:border-box;
}



.slide-text {
	width: inherit;
	margin: auto;
}
.column-content {
	background: rgb(237,237,237);
	padding: 11px;
}
ul {
    list-style-type: none;
}
nav {
	float: right;
	padding-right: 10px;
}
nav ul {
    margin: 10px;
    overflow: hidden;
}

nav li {
    float: left;
    margin: 3px;
    display: block;
    padding: 3px 7px;
    background: rgb(237,237,237);
}
.logo {
	padding-left: 30px;
}

.page-content{
	padding-top:50px;
}

.page-content .main-carousel{
	width:100vw;
	height:400px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

.page-content .main-carousel .carousel-next,
.page-content .main-carousel .carousel-prev{
	position:absolute;
	top:50%;
	padding:20px;
	background-color:rgba(200,200,200,1);
	cursor:pointer;
	margin-top:-25px;
}

.page-content .main-carousel .carousel-next{
	right:0;
}

.page-content .main-carousel .carousel-prev{
	left:0;
}

.page-content .main-carousel .carousel-cells{
	width:99999px;
	height:100%;

}

.page-content .main-carousel .carousel-cells article{
	width:100vw;
	height:100%;
	float:left;
	display:flex;
}